<h2>Update the drone</h2>

<form action="/drones/{{this._id}}/edit" method="post">

    <label for="name">Nombre</label>
    <input type="text" name="name" value="{{this.name}}">
    <br>
    <label for="propellers">Hélices</label>
    <input type="number" name="propellers" value="{{this.propellers}}">
    <br>
    <label for="maxSpeed">Max. Velocidad</label>
    <input type="number" name="maxSpeed" value="{{this.maxSpeed}}">
    <br>
    <button>Actualizar</button>

</form>